@use "../base/variables" as *;
@use "../base/mixins" as *;

.header {
  display: flex;
  flex-direction: column;
  text-align: center;

  .logo {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: $spacing-48 $spacing-80 0 $spacing-80;
  }

  .hero {
    display: flex;
    flex-direction: column;
    gap: $spacing-48;
    padding-top: $spacing-64;
    padding-bottom: $spacing-32;

    &__image {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 10rem;

      img {
        object-fit: cover;
      }
    }

    &__image-left {
      display: none;
    }

    &__image-right {
      display: none;
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: $spacing-24;
      padding: 0 $spacing-32;

      &-title {
        @include text-preset-m1;
        color: $color-slate-900;
        text-wrap: balance;
      }
    }

    &__cta {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $spacing-16;
    }
  }
}
