@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap");

// Primary colors
$color-cyan-600: #4d96a9;
$color-cyan-300: #8fe3f9;

// Secondary colors
$color-purple-600: #855fb1;
$color-purple-300: #d9b8ff;

// Neutral colors
$color-slate-900: #28283d;
$color-slate-600: #87879d;
$color-slate-300: #d1d1df;
$color-white: #fafafa;

// Typography
$ff-redhat: "Red Hat Display", sans-serif;

// Font sizes
$fs-64: 4rem;
$fs-48: 3rem;
$fs-40: 2.5rem;
$fs-36: 2.25rem;
$fs-32: 2rem;
$fs-18: 1.125rem;
$fs-16: 1rem;
$fs-14: 0.875rem;
$fs-12: 0.75rem;

// Font weights
$fw-medium: 500;
$fw-black: 900;

// Line heights
$lh-150: 1.5;
$lh-110: 1.1;

// Spacing
$spacing-112: 7rem;
$spacing-80: 5rem;
$spacing-72: 4.5rem;
$spacing-64: 4rem;
$spacing-56: 3.5rem;
$spacing-40: 2.5rem;
$spacing-32: 2rem;
$spacing-24: 1.5rem;
$spacing-16: 1rem;
$spacing-8: 0.5rem;
$spacing-4: 0.25rem;
